name: updatecli
on:
  release: null
  workflow_dispatch: null
  push:
    branches: [main]
  schedule:
    # Run every day
    - cron: "0 0 * * *"
permissions: {}
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  updatecli:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: "Checkout"
        uses: "actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683" # v4.2.2
      - name: "Setup updatecli"
        uses: "updatecli/updatecli-action@f269507012a1bba941d910fae38ae83ae3895486" # v2
      - name: "Setup Releasepost"
        uses: "updatecli/releasepost-action@864390bddae97db06ee881ab4a08d159b4464643" # v0.5.0
      - uses: DeterminateSystems/flake-checker-action@3164002371bc90729c68af0e24d5aacf20d7c9f6 # v12
      - uses: DeterminateSystems/nix-installer-action@9a614930230081ace91d36fb553b638a7dfc7362 # push-yyvrlpyxqswn
      - uses: DeterminateSystems/magic-nix-cache-action@7f4e021881570cb0d5524c444d798697dede5a87 # main
        with:
          use-flakehub: false
      - uses: actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e # v2.0.6
        id: generate_token
        if: github.ref == 'refs/heads/main'
        with:
          app-id: ${{ secrets.CI_BOT_APP_ID }}
          private-key: ${{ secrets.CI_BOT_PRIVATE_KEY }}
      - name: "Run updatecli"
        if: github.ref == 'refs/heads/main'
        run: "updatecli compose apply"
        env:
          GITHUB_ACTOR: lois-bot
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
          RELEASEPOST_GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
